node-red/flows3.json
[
    {
        "id": "fd3fd66e8754769d",
        "type": "subflow",
        "name": "OpenWeather",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "990660dd986d37c3"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 760,
                "y": 280,
                "wires": [
                    {
                        "id": "16be66c1be33581c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "NAME",
                "type": "str",
                "value": "日本",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 60,
            "y": 20,
            "wires": []
        }
    },
    {
        "id": "5e95fcde2046c1a3",
        "type": "change",
        "z": "fd3fd66e8754769d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "02fd02b3587a20d4",
                "118541f95948727c"
            ]
        ]
    },
    {
        "id": "02fd02b3587a20d4",
        "type": "http request",
        "z": "fd3fd66e8754769d",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://script.google.com/macros/s/AKfycbzzoJhxbXScprIh87u1sxjgRLelyGxQLW0l-GYhIdlEPu84B8wiQXAsfbH4RgPbIStw/exec?name={{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 80,
        "wires": [
            [
                "21c001d90836a6a7",
                "118541f95948727c"
            ]
        ]
    },
    {
        "id": "21c001d90836a6a7",
        "type": "function",
        "z": "fd3fd66e8754769d",
        "name": "緯度経度から天気",
        "func": "msg.topic = \"weather\";\nmsg.url = \"https://api.openweathermap.org/data/2.5/weather\";\nmsg.payload.location = msg.payload.items;\nmsg.payload = {\n    \"lat\":  msg.payload.items.lat,\n    \"lon\":  msg.payload.items.lon,\n    \"lang\": \"ja\",\n    \"appid\": env.get(\"APPID\"),\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 180,
        "wires": [
            [
                "03df774e3d590957"
            ]
        ]
    },
    {
        "id": "03df774e3d590957",
        "type": "http request",
        "z": "fd3fd66e8754769d",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 180,
        "wires": [
            [
                "a2fdaa0680b27478",
                "118541f95948727c"
            ]
        ]
    },
    {
        "id": "16be66c1be33581c",
        "type": "function",
        "z": "fd3fd66e8754769d",
        "name": "メッセージ",
        "func": "var name = msg.payload[\"name\"];\nvar desc = msg.payload[\"weather\"][0][\"description\"];\n\nmsg.topic = \"world\";\nmsg.payload = name + \": \" + desc;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a2fdaa0680b27478",
        "type": "json",
        "z": "fd3fd66e8754769d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "16be66c1be33581c"
            ]
        ]
    },
    {
        "id": "990660dd986d37c3",
        "type": "change",
        "z": "fd3fd66e8754769d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "NAME",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 80,
        "wires": [
            [
                "5e95fcde2046c1a3"
            ]
        ]
    },
    {
        "id": "118541f95948727c",
        "type": "debug",
        "z": "fd3fd66e8754769d",
        "d": true,
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "0724995aaa4f2ab6",
        "type": "comment",
        "z": "fd3fd66e8754769d",
        "name": "国名の指定",
        "info": "\nGoogle スプレッドシートに国名と首都の緯度軽度の一覧があります。\n\nhttps://docs.google.com/spreadsheets/d/1M5m1UKmcdIThzmZqf4uRTC4ug08YQhAHKjAlfruO_Eo/edit#gid=0\n\nGAS 使って 国名から首都の緯度軽度を引っ張ってきます。\nhttps://script.google.com/macros/s/AKfycbzzoJhxbXScprIh87u1sxjgRLelyGxQLW0l-GYhIdlEPu84B8wiQXAsfbH4RgPbIStw/exec?name={{{query}}}\n",
        "x": 200,
        "y": 20,
        "wires": []
    },
    {
        "id": "04666b4189ff29a4",
        "type": "tab",
        "label": "Meshボタン",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3edd061a4f93339f",
        "type": "http in",
        "z": "04666b4189ff29a4",
        "name": "",
        "url": "/mesh/button",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "c0a1b724e32e4c8d",
                "9760c70cae92634b",
                "7586a7ee56d18ff2"
            ]
        ]
    },
    {
        "id": "7586a7ee56d18ff2",
        "type": "function",
        "z": "04666b4189ff29a4",
        "name": "ボタンイベントの表示",
        "func": "\n// node.warn(msg.req.query.event);\n\nvar name = '';\nif (msg.req.query.event == \"1\") { name = \"Single Pressed\"; }\nelse if (msg.req.query.event == \"2\") { name = \"long Pressed\"; }\nelse if (msg.req.query.event == \"3\") { name = \"double Pressed\"; };\n\nif (name != '' ) { node.warn(\"name=\" + name);}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 200,
        "wires": [
            [
                "d5c78c886265e85a"
            ]
        ]
    },
    {
        "id": "d5c78c886265e85a",
        "type": "http response",
        "z": "04666b4189ff29a4",
        "name": "http response",
        "statusCode": "",
        "headers": {
            "Access-Control-Allow-Origin": "*"
        },
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "c0a1b724e32e4c8d",
        "type": "switch",
        "z": "04666b4189ff29a4",
        "name": "Routes",
        "property": "req.query.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "744951f360df2f4d"
            ],
            [
                "09de2f6fce16fa10"
            ],
            [
                "58637d960a0f1c63"
            ]
        ]
    },
    {
        "id": "09de2f6fce16fa10",
        "type": "debug",
        "z": "04666b4189ff29a4",
        "name": "zip_weather",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "8827cc606160dadf",
        "type": "pythonshell in",
        "z": "04666b4189ff29a4",
        "name": "MESJ_BUTTON 接続",
        "pyfile": "/Users/katoy/github/mesh-IoT/node-red/python/sampleButton.py",
        "virtualenv": "",
        "continuous": true,
        "stdInData": false,
        "x": 160,
        "y": 80,
        "wires": [
            [
                "fbdafd278ff92fb5"
            ]
        ]
    },
    {
        "id": "fbdafd278ff92fb5",
        "type": "debug",
        "z": "04666b4189ff29a4",
        "name": "",
        "active": false,
        "tosidebar": false,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "9760c70cae92634b",
        "type": "debug",
        "z": "04666b4189ff29a4",
        "name": "show qyery",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "req.query",
        "targetType": "msg",
        "statusVal": "req.query.event",
        "statusType": "auto",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "744951f360df2f4d",
        "type": "jma-weather",
        "z": "04666b4189ff29a4",
        "name": "jma 東京都",
        "area": "130000",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "4248ba61e421c18f"
            ]
        ]
    },
    {
        "id": "4248ba61e421c18f",
        "type": "function",
        "z": "04666b4189ff29a4",
        "name": "jma_weather",
        "func": "\nvar weather = msg.payload[0]['timeSeries'][0]['areas'][0]['weathers'][0];\nvar publisher = msg.payload[0]['publishingOffice']\nvar area = msg.payload[0]['timeSeries'][0]['areas'][0]['area']['name']\nnode.warn(weather);\nmsg.topic = \"jma\";\nmsg.payload = publisher + \" \" + area + \"\\n\" + weather;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 300,
        "wires": [
            [
                "d4b236da8af8d0d5",
                "dbd5d7567bed8cce"
            ]
        ]
    },
    {
        "id": "dbd5d7567bed8cce",
        "type": "pythonshell in",
        "z": "04666b4189ff29a4",
        "name": "notify",
        "pyfile": "/Users/katoy/github/mesh-IoT/node-red/python/notify.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 890,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "11128b8fbba332c1",
        "type": "comment",
        "z": "04666b4189ff29a4",
        "name": "README",
        "info": "[MENU_BUTTIN 接続] ノードをクリックすると、\nputhon プログラムが実行され、MESH の butin デバイスと接続されます。\n\nconnnecte が表示されたら、MESH ボタンデバイスの ボタンを押してみてください。\npython プログラムから、 /get/mesh/button API が呼び出されます。\nそして、node-red の [[get]/mesh/button] ノードが実行されます。\nすると、基調庁に天気AP を使って、天気を所得します。\n\n取得した天気情報を [notify] ノードに和r足します。\n[notify]　ノードでは、 puthon プログラム notify.py を実装します。\nMacOS で動作させている場合は、画面に通知が出ます。\n\n環境変数 APPID に openweathr mao の appid を設定してください、\n\n  $ export APPID=\"xxxxxxxxxxxxxx\"\n\n",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "2da1365ecd5f3954",
        "type": "function",
        "z": "04666b4189ff29a4",
        "name": "環境変数 APPID",
        "func": "msg.topic =\"appid\";\nmsg.payload = env.get(\"APPID\");\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 620,
        "wires": [
            [
                "92cc67ae3ad6d8f7",
                "228ea88089255f4e"
            ]
        ]
    },
    {
        "id": "9b8d3c9eee2a1d69",
        "type": "inject",
        "z": "04666b4189ff29a4",
        "name": "appid の確認",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "2da1365ecd5f3954"
            ]
        ]
    },
    {
        "id": "92cc67ae3ad6d8f7",
        "type": "pythonshell in",
        "z": "04666b4189ff29a4",
        "name": "notify",
        "pyfile": "/Users/katoy/github/mesh-IoT/node-red/python/notify.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 850,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "dfcc9668513ed614",
        "type": "subflow:fd3fd66e8754769d",
        "z": "04666b4189ff29a4",
        "name": "世界の天気",
        "env": [
            {
                "name": "国",
                "value": "日本",
                "type": "str"
            }
        ],
        "x": 610,
        "y": 560,
        "wires": [
            [
                "92cc67ae3ad6d8f7",
                "228ea88089255f4e"
            ]
        ]
    },
    {
        "id": "a919684af11c4192",
        "type": "inject",
        "z": "04666b4189ff29a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "dfcc9668513ed614"
            ]
        ]
    },
    {
        "id": "58637d960a0f1c63",
        "type": "subflow:fd3fd66e8754769d",
        "z": "04666b4189ff29a4",
        "name": "世界の天気 (イギリス)",
        "env": [
            {
                "name": "NAME",
                "value": "イギリス",
                "type": "str"
            },
            {
                "name": "国",
                "value": "日本",
                "type": "str"
            }
        ],
        "x": 540,
        "y": 420,
        "wires": [
            [
                "d4b236da8af8d0d5",
                "dbd5d7567bed8cce"
            ]
        ]
    },
    {
        "id": "228ea88089255f4e",
        "type": "debug",
        "z": "04666b4189ff29a4",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 500,
        "wires": []
    },
    {
        "id": "d4b236da8af8d0d5",
        "type": "debug",
        "z": "04666b4189ff29a4",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "4f6f679f6d17eb59",
        "type": "jma-weather",
        "z": "04666b4189ff29a4",
        "name": "jma 東京都",
        "area": "130000",
        "x": 410,
        "y": 500,
        "wires": [
            [
                "5e2dd7712f18504f"
            ]
        ]
    },
    {
        "id": "5e2dd7712f18504f",
        "type": "function",
        "z": "04666b4189ff29a4",
        "name": "jma_weather",
        "func": "\nvar weather = msg.payload[0]['timeSeries'][0]['areas'][0]['weathers'][0];\nvar publisher = msg.payload[0]['publishingOffice']\nvar area = msg.payload[0]['timeSeries'][0]['areas'][0]['area']['name']\nnode.warn(weather);\nmsg.topic = \"jma\";\nmsg.payload = publisher + \" \" + area + \"\\n\" + weather;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 500,
        "wires": [
            [
                "228ea88089255f4e",
                "92cc67ae3ad6d8f7"
            ]
        ]
    },
    {
        "id": "e995f673ea63c2e2",
        "type": "inject",
        "z": "04666b4189ff29a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "4f6f679f6d17eb59"
            ]
        ]
    }
]