node-red/flows2.json
[
    {
        "id": "04666b4189ff29a4",
        "type": "tab",
        "label": "Meshボタン",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3edd061a4f93339f",
        "type": "http in",
        "z": "04666b4189ff29a4",
        "name": "",
        "url": "/mesh/button",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "c0a1b724e32e4c8d",
                "9760c70cae92634b",
                "7586a7ee56d18ff2"
            ]
        ]
    },
    {
        "id": "7586a7ee56d18ff2",
        "type": "function",
        "z": "04666b4189ff29a4",
        "name": "ボタンイベントの表示",
        "func": "\n// node.warn(msg.req.query.event);\n\nvar name = '';\nif (msg.req.query.event == \"1\") { name = \"Single Pressed\"; }\nelse if (msg.req.query.event == \"2\") { name = \"long Pressed\"; }\nelse if (msg.req.query.event == \"3\") { name = \"double Pressed\"; };\n\nif (name != '' ) { node.warn(\"name=\" + name);}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 200,
        "wires": [
            [
                "d5c78c886265e85a"
            ]
        ]
    },
    {
        "id": "d5c78c886265e85a",
        "type": "http response",
        "z": "04666b4189ff29a4",
        "name": "http response",
        "statusCode": "",
        "headers": {
            "Access-Control-Allow-Origin": "*"
        },
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "c0a1b724e32e4c8d",
        "type": "switch",
        "z": "04666b4189ff29a4",
        "name": "Routes",
        "property": "req.query.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "744951f360df2f4d"
            ],
            [
                "09de2f6fce16fa10"
            ],
            [
                "205a884b4e7aeb11"
            ]
        ]
    },
    {
        "id": "09de2f6fce16fa10",
        "type": "debug",
        "z": "04666b4189ff29a4",
        "name": "zip_weather",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "8827cc606160dadf",
        "type": "pythonshell in",
        "z": "04666b4189ff29a4",
        "name": "MESJ_BUTTON 接続",
        "pyfile": "/Users/katoy/github/mesh-IoT/node-red/python/sampleButton.py",
        "virtualenv": "",
        "continuous": true,
        "stdInData": false,
        "x": 160,
        "y": 80,
        "wires": [
            [
                "fbdafd278ff92fb5"
            ]
        ]
    },
    {
        "id": "fbdafd278ff92fb5",
        "type": "debug",
        "z": "04666b4189ff29a4",
        "name": "",
        "active": false,
        "tosidebar": false,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "9760c70cae92634b",
        "type": "debug",
        "z": "04666b4189ff29a4",
        "name": "show qyery",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "req.query",
        "targetType": "msg",
        "statusVal": "req.query.event",
        "statusType": "auto",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "744951f360df2f4d",
        "type": "jma-weather",
        "z": "04666b4189ff29a4",
        "name": "jma 東京都",
        "area": "130000",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "4248ba61e421c18f"
            ]
        ]
    },
    {
        "id": "4248ba61e421c18f",
        "type": "function",
        "z": "04666b4189ff29a4",
        "name": "jma_weather",
        "func": "\nvar weather = msg.payload[0]['timeSeries'][0]['areas'][0]['weathers'][0];\nvar publisher = msg.payload[0]['publishingOffice']\nvar area = msg.payload[0]['timeSeries'][0]['areas'][0]['area']['name']\nnode.warn(weather);\nmsg.topic = \"jma\";\nmsg.payload = publisher + \" \" + area + \"\\n\" + weather;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 300,
        "wires": [
            [
                "dbd5d7567bed8cce"
            ]
        ]
    },
    {
        "id": "dbd5d7567bed8cce",
        "type": "pythonshell in",
        "z": "04666b4189ff29a4",
        "name": "notify",
        "pyfile": "/Users/katoy/github/mesh-IoT/node-red/python/notify.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 890,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "11128b8fbba332c1",
        "type": "comment",
        "z": "04666b4189ff29a4",
        "name": "README",
        "info": "[MENU_BUTTIN 接続] ノードをクリックすると、\nputhon プログラムが実行され、MESH の butin デバイスと接続されます。\n\nconnnecte が表示されたら、MESH ボタンデバイスの ボタンを押してみてください。\npython プログラムから、 /get/mesh/button API が呼び出されます。\nそして、node-red の [[get]/mesh/button] ノードが実行されます。\nすると、基調庁に天気AP を使って、天気を所得します。\n\n取得した天気情報を [notify] ノードに和r足します。\n[notify]　ノードでは、 puthon プログラム notify.py を実装します。\nMacOS で動作させている場合は、画面に通知が出ます。\n\n環境変数 APPID に openweathr mao の appid を設定してください、\n\n  $ export APPID=\"xxxxxxxxxxxxxx\"\n\n",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "205a884b4e7aeb11",
        "type": "function",
        "z": "04666b4189ff29a4",
        "name": "イギリス",
        "func": "msg.payload = \"イギリス\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 460,
        "wires": [
            [
                "7ca47e934325b960"
            ]
        ]
    },
    {
        "id": "7ca47e934325b960",
        "type": "change",
        "z": "04666b4189ff29a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 500,
        "wires": [
            [
                "fbca9b80b1e60f6a"
            ]
        ]
    },
    {
        "id": "fbca9b80b1e60f6a",
        "type": "http request",
        "z": "04666b4189ff29a4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://script.google.com/macros/s/AKfycbzzoJhxbXScprIh87u1sxjgRLelyGxQLW0l-GYhIdlEPu84B8wiQXAsfbH4RgPbIStw/exec?name={{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 500,
        "wires": [
            [
                "4104efa3cc0941e6"
            ]
        ]
    },
    {
        "id": "2da1365ecd5f3954",
        "type": "function",
        "z": "04666b4189ff29a4",
        "name": "環境変数 APPID",
        "func": "msg.topic =\"appid\";\nmsg.payload = env.get(\"APPID\");\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 680,
        "wires": [
            [
                "92cc67ae3ad6d8f7"
            ]
        ]
    },
    {
        "id": "4104efa3cc0941e6",
        "type": "function",
        "z": "04666b4189ff29a4",
        "name": "緯度経度から天気",
        "func": "msg.topic = \"weather\";\nmsg.url = \"https://api.openweathermap.org/data/2.5/weather\";\nmsg.payload.location = msg.payload.items;\nmsg.payload = {\n    \"lat\":  msg.payload.items.lat,\n    \"lon\":  msg.payload.items.lon,\n    \"lang\": \"ja\",\n    \"appid\": env.get(\"APPID\"),\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 580,
        "wires": [
            [
                "e88cdcb8172e9ed1"
            ]
        ]
    },
    {
        "id": "e88cdcb8172e9ed1",
        "type": "http request",
        "z": "04666b4189ff29a4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 580,
        "wires": [
            [
                "c9d07b16bc8871ae"
            ]
        ]
    },
    {
        "id": "9b8d3c9eee2a1d69",
        "type": "inject",
        "z": "04666b4189ff29a4",
        "name": "appid の確認",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "2da1365ecd5f3954"
            ]
        ]
    },
    {
        "id": "92cc67ae3ad6d8f7",
        "type": "pythonshell in",
        "z": "04666b4189ff29a4",
        "name": "notify",
        "pyfile": "/Users/katoy/github/mesh-IoT/node-red/python/notify.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 710,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "26da448a50503d91",
        "type": "function",
        "z": "04666b4189ff29a4",
        "name": "メッセージ",
        "func": "var name = msg.payload[\"name\"];\nvar desc = msg.payload[\"weather\"][0][\"description\"];\n\nnode.warn(desc);\n\nmsg.topic = \"world\";\nmsg.payload = name + \": \" + desc;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 640,
        "wires": [
            [
                "92cc67ae3ad6d8f7"
            ]
        ]
    },
    {
        "id": "c9d07b16bc8871ae",
        "type": "json",
        "z": "04666b4189ff29a4",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 690,
        "y": 580,
        "wires": [
            [
                "26da448a50503d91"
            ]
        ]
    },
    {
        "id": "942c6148a738109f",
        "type": "function",
        "z": "04666b4189ff29a4",
        "name": "日本",
        "func": "msg.payload = \"日本\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 520,
        "wires": [
            [
                "7ca47e934325b960"
            ]
        ]
    },
    {
        "id": "5833336b1e05df8f",
        "type": "inject",
        "z": "04666b4189ff29a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "205a884b4e7aeb11"
            ]
        ]
    },
    {
        "id": "f0a443d63081e6bb",
        "type": "inject",
        "z": "04666b4189ff29a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "744951f360df2f4d"
            ]
        ]
    }
]